In [5]:
import pandas as pd

In [6]:
data1 = pd.read_csv('/home/touvegros/data-science-template/data/trafikkdata_hourly_30552V444220.csv')
data2 = pd.read_csv('/home/touvegros/data-science-template/data/trafikkdata_hourly_67263V1811577.csv')
data3 = pd.read_csv('/home/touvegros/data-science-template/data/trafikkdata_hourly_73894V444221.csv')
data4 = pd.read_csv('/home/touvegros/data-science-template/data/trafikkdata_hourly_79854V625215.csv')
data5 = pd.read_csv('/home/touvegros/data-science-template/data/trafikkdata_hourly_87610V1811579.csv')

In [9]:
data1.describe()

,total.volumeNumbers.volume,"total.volumeNumbers.volume[5.6,..)","total.volumeNumbers.volume[5.6,7.6)","total.volumeNumbers.volume[7.6,12.5)","total.volumeNumbers.volume[12.5,16.0)","total.volumeNumbers.volume[16.0,24.0)","total.volumeNumbers.volume[24.0,..)"
count,8663.000000,8663.000000,8663.000000,8663.000000,8663.000000,8663.000000,8663.000000
mean,491.984994,107.409442,19.143368,27.080919,14.391204,44.794875,1.999077
std,412.448139,67.976619,14.930501,20.787238,9.928846,31.443492,2.061063
min,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,129.000000,46.000000,6.000000,9.000000,6.000000,18.000000,0.000000
50%,447.000000,96.000000,15.000000,24.000000,12.000000,37.000000,1.000000
75%,699.500000,168.000000,29.000000,41.000000,21.000000,72.000000,3.000000
max,2313.000000,291.000000,82.000000,117.000000,107.000000,146.000000,13.000000

In [10]:
data2.describe()

,total.volumeNumbers.volume,"total.volumeNumbers.volume[5.6,..)","total.volumeNumbers.volume[5.6,7.6)","total.volumeNumbers.volume[7.6,12.5)","total.volumeNumbers.volume[12.5,16.0)","total.volumeNumbers.volume[16.0,24.0)","total.volumeNumbers.volume[24.0,..)"
count,5987.000000,5987.000000,5987.000000,5987.000000,5987.000000,5987.000000,5987.000000
mean,489.578921,114.772006,21.665108,30.527810,17.393519,43.459162,1.726407
std,374.792939,76.558233,16.786684,23.120012,12.360473,31.458846,1.792896
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,133.000000,46.000000,7.000000,9.000000,7.000000,16.000000,0.000000
50%,485.000000,101.000000,18.000000,26.000000,14.000000,36.000000,1.000000
75%,745.000000,184.000000,35.000000,49.000000,26.000000,70.000000,3.000000
max,1916.000000,308.000000,78.000000,118.000000,69.000000,132.000000,12.000000

In [ ]:
data3.describe()

In [ ]:
data4.describe()

In [ ]:
data4.describe()